<h2 mat-dialog-title>Add/Subtract from your budget</h2>

<mat-dialog-content [formGroup]="amountForm">
  <mat-form-field style="width: 200px;">
    <input type="text" placeholder="Enter an amount..." matInput formControlName="amount" (keydown.enter)="updateAmount()" >
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [disabled]="!amountForm.valid" (click)="updateAmount()">Update Amount</button>
</mat-dialog-actions>
