  $color-primary-0: #2D882D;
  $color-primary-1: #056905;
  $color-primary-2: #177917;
  $color-primary-3: #489748;
  $color-primary-4: #68A768;

  $color-secondary-0: #562A72;
  $color-secondary-1: #390958;
  $color-secondary-2: #471865;
  $color-secondary-3: #66407F;
  $color-secondary-4: #785A8B;

  $color-accent-0: #AA8639;
  $color-accent-1: #845B06;
  $color-accent-2: #976F1C;
  $color-accent-3: #BD9D5A;
  $color-accent-4: #D0B782;
