
<div class="container" fxLayout="column">
  <!-- Overview -->
  <div fxFlex class="overview" fxLayoutAlign="center center">
    Overview
    <mat-spinner *ngIf="!billsUpdated"></mat-spinner>
  </div>

  <div fxFlex fxLayout="row wrap" fxLayoutAlign="center">
    <div class="dashboardItem" routerLink="/bills" fxLayout="column" fxLayoutAlign="center center">
      <h3 fxFlex="20" fxLayoutAlign="center center">Bills</h3>
      <mat-icon fxFlex class="budgetIcon"></mat-icon>
    </div>
    <div class="dashboardItem" routerLink="/calculate" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon fxFlex class="calcIcon">calculate</mat-icon>
      <span fxFlex="20" fxLayoutAlign="center center">Calculate</span>
    </div>
    <div class="dashboardItem" routerLink="/budget" fxLayout="column" fxLayoutAlign="center center">
      <h3 fxFlex="20" fxLayoutAlign="center center">Manage Budget</h3>
      <mat-icon fxFlex></mat-icon>
    </div>
    <div class="dashboardItem" routerLink="" fxLayout="column" fxLayoutAlign="center center">
      <h3 fxFlex="20" fxLayoutAlign="center center">About Me?</h3>
      <mat-icon fxFlex></mat-icon>
    </div>
  </div>
</div>
