<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <div fxFlex fxFlex.gt-xs="1 1 40%">
    <mat-card>
      <mat-card-title>{{ budget | currency }}</mat-card-title>

      <mat-card-content>Budget</mat-card-content>
      <mat-card-actions fxLayoutAlign="space-around">
        <button id="addBtn" mat-button color="primary" (click)="openConfirmAmountDialog($event)">Add</button>
        <button id="subtractBtn" mat-raised-button color="primary" (click)="openConfirmAmountDialog($event)">Subtract</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
