@import url('../../material.scss');

.container {
  height: 100vh;
  background-image: url('../../../assets/greenCabin.jpg');
  background-size: cover;
  background-position: center;
}

.p-message-wrapper {
  margin: 10px;
  padding: 5px;
}
